<div class="body-header-and-home">
    <header class="header">
        <div class="crisper">
            <a href="#" class="logo-link" data-goto="#home">Escape.</a>
            <nav class="navbar">
                <ul class="menu-items">
                    <li class="menu-item">
                        <a href="#" class="menu-link active-link" data-goto="#home">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#category">Categories</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#about">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="menu-mobile-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <!-- Home -->
    <section class="home content-section" id="home">
        <div class="crisper">
            <h2 class="title">Let's do it together.</h2>
            <p class="description">We travel the world in search of stories. Come along for the ride.</p>
            <div class="body-link">
                <a href="#" class="btn-link">View Latest Posts</a>
            </div>
        </div>
    </section>
    <div class="bg-img">
        <img src="@img/bg-top.png" alt="BG Top" class="bg-top-img">
    </div>
</div>