<!-- About -->
<section class="about content-section" id="about">
    <div class="crisper">
        <div class="section-title">
            <h2>About</h2>
        </div>
        <div class="subtitle">
            <p>Our Employees</p>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-header">
                    <img src="@img/author-4.jpg" alt="Author 4" class="img-card">
                </div>
                <div class="card-body">
                    <div class="fname">
                        <h3>Mat Vogels</h3>
                    </div>
                    <div class="category">
                        <p>Journalist</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="@img/author-3.jpg" alt="Author 3" class="img-card">
                </div>
                <div class="card-body">
                    <div class="fname">
                        <h3>William Wong</h3>
                    </div>
                    <div class="category">
                        <p>Journalist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>