<div class="body-contact-and-footer">
    <!-- Contact -->
    <section class="contact content-section" id="contact">
        <div class="crisper">
            <div class="body-title">
                <h2 class="title">Stay in Touch</h2>
            </div>
            <div class="input-group">
                <input type="email" name="email" id="email-footer" placeholder="Enter your email address">
                <input type="submit" for="email" id="btn-email-footer" value="Submit">
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <div class="crisper">
            <a href="#" class="logo-link" data-goto="#home">Escape.</a>
            <nav class="navbar">
                <ul class="menu-items">
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#home">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#category">Categories</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#about">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link" data-goto="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <div class="bg-img">
        <img src="@img/bg-footer.png" alt="BG Footer" class="bg-footer-img">
    </div>
</div>