{% extends "./html/base.njk" %}

{% block title %}Escape.{% endblock title %}

{% block styles %}
    <link rel="shortcut icon" href="@img/favicon/favicon.png" type="image/x-icon">
{% endblock styles %}

{% block content %}
    {% include "./html/page-blocks/02_01-section.njk" %}
    {% include "./html/page-blocks/02_02-section.njk" %}
{% endblock content %}

{% block scripts %}{% endblock scripts %}